@media screen and (max-width: 800px){
    main div#secondType div#imagemPrincipal2{
        margin-right: 5vw;
        width: 35vw;
    }
    
    main div#secondType div#imagemPrincipal2 img{
        width: 35vw;
        height: 30vw;
    }

    main div.firstType div.imagemPrincipal{
        margin-left: 5vw;
        width: 35vw;
    }
    
    main div.firstType div.imagemPrincipal img{
        width: 35vw;
    }

    main div.firstType div.tituloPrincipal{
        margin-top: 0px;
    }
}